* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #f7f7f7;
}
.app {
  max-width: 1087px;
  margin: 0 auto;
}
